<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/getPrices" method="POST">
    <label for="source">Source</label>
    <input name="source" type="text" id="source">
    <label for="destination">Destination</label>
    <input name="destination" type="text" id="destination">
    <label for="date">Date</label>
    <input name="date" type="date" id="date">
    <button type="submit">Submit</button>
  </form>
</body>

</html>